*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

# when using latex-make
*.make
*.d
*.fls
*~
\#*
*.pdf
*.brf
*.bbl
*.cookie
*.temp
_*

# Local folders
template/

Makefile
TAGS

*.o
listaduplaParaN    
listaduplaPiorCaso 
listasimplePiorCaso

slides.pdf